/* @media only screen and (max-width:600){ */
    /* .flip{ */
        /* height:10px; */
    /* } */
/* } */
/* @media only screen and (min-width:600px){ */
    /* .flip{ */
        /* height:20px; */
    
    /* } */
/* @media only screen and (min-width:600px){ */
    /* .flip{ */
        /* height: 30px; */
    /* } */
 /* @media only screen and (min-width:768px){ */
        /* .flip{ */
            /* height: 40px; */
        /* } */
 /* @media only screen and (min-width:1200px){ */
            /* .flip{ */
                /* height: 50px; */
            /* } */
 .slideshow
            {
                position:relative;
            }
.slide
            {
                display:absolute;
                display:none;
            }
.img{
                width:100%;
                height:300px;
            }
 .prev,.next
            {
                cursor:pointer;
                position:absolute;
                top:55%;
                padding:10px;
                background: cornsilk;
            }
.next
            {
                right:0px;
            }
.fade
            {
                animation:fade;
                animation-duration:3s;
            
            }
.tittle{
                color: tomato;
                position:absolute;
                display:inline;
                width:100%;
                left:0;
                bottom:5%;
                text-align:center;
            }